.content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  font-size: 50px;
  margin-top: -10px;
}

.pictureLeft {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.mainText {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  width: 800px;
}

.pic2{
    background-image: url('../../public/pic2.jpeg');
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    width: 500px;
  
    
}
