@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.app{
  background-color: hsla(0, 0%, 0%, 0.954);
  color:rgba(255, 252, 252, 0.576);
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
 
}
